<h3>Morning</h3>
<table class="table table-condensed table-bordered">
  <tr>
    <th width="50px">Sr. No.</th>
    <th>Employee Name</th>
    <th width="200px">Order</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Rajesh Kumar</td>
    <td>Idli</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Vishal Shukla</td>
    <td>Poha</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Lalit Singh</td>
    <td>Poha</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Varsha Sawant</td>
    <td>Idli</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Sumanta Das</td>
    <td>Poha</td>
  </tr>
</table>
<div align="right">
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div>


<h3>Evening</h3>
<table class="table table-condensed table-bordered">
  <tr>
    <th width="50px">Sr. No.</th>
    <th>Employee Name</th>
    <th width="200px">Order</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Rajesh Kumar</td>
    <td>Bread Roll</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Vishal Shukla</td>
    <td>Bread Roll</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Lalit Singh</td>
    <td>Cookies</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Varsha Sawant</td>
    <td>Cookies</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Sumanta Das</td>
    <td>Bread Roll</td>
  </tr>
</table>
<div align="right">
<ul class="pagination" style="float: right">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div>