<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#morning" aria-controls="morning" role="tab" data-toggle="tab">Morning</a>
    </li>
    <li role="presentation">
      <a href="#evening" aria-controls="evening" role="tab" data-toggle="tab">Evening</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="morning">
      <div class="label-txt">Item: <span class="badge">idli</span></div>
      <table class="table table-condensed table-bordered">
        <tr>
          <th width="50px">Sr. No.</th>
          <th>Employee Name</th>
          <!-- <th width="100px">Order</th> -->
        </tr>
        <tr>
          <td>1</td>
          <td>Rajesh Kumar</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>2</td>
          <td>Vishal Shukla</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>3</td>
          <td>Lalit Singh</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>4</td>
          <td>Varsha Sawant</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>5</td>
          <td>Sumanta Das</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
      </table>
      <div class="right">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="evening">
      <div class="label-txt">Item: <span class="badge">Dosa</span></div>
      <table class="table table-condensed table-bordered">
        <tr>
          <th width="50px">Sr. No.</th>
          <th>Employee Name</th>
          <!-- <th width="100px">Order</th> -->
        </tr>
        <tr>
          <td>1</td>
          <td>Mausumi Swain</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>2</td>
          <td>Harish Shukla</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>3</td>
          <td>Mohit Singh</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>4</td>
          <td>Vishal Sawant</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>5</td>
          <td>Sumanta Das</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
        <tr>
          <td>6</td>
          <td>Rajesh Kumar</td>
          <!-- <td class="text-center"><input class="check-box" type="checkbox"></td> -->
        </tr>
      </table>
      <div class="right">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>





