<h3>Morning</h3>
<table class="table table-condensed table-bordered">
  <tr>
    <th width="50px">Sr. No.</th>
    <th>Employee Name</th>
    <th width="200px">Order</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Rajesh Kumar</td>
    <td>Idli</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Vishal Shukla</td>
    <td>Poha</td>
  </tr>  
</table>

<h3>Evening</h3>
<table class="table table-condensed table-bordered">
  <tr>
    <th width="50px">Sr. No.</th>
    <th>Employee Name</th>
    <th width="200px">Order</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Rajesh Kumar</td>
    <td>Bread Roll</td>
  </tr>  
</table>
